{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
  <!-- <h1>This is Page 1{{list}}</h1> -->

    <table class="table ">
         <thead>
           <tr>
             <th  class="table-light" scope="col">Username</th>
             <th   class="table-light" scope="col">Top Score</th>
           </tr>
         </thead>
         <tbody>
             {% for item in list %}
              <tr>
                  <th  class="table-light" scope="row">{{item["username"]}}</th>
                  <td  class="table-light">{{item["topscore"]}}</td>
              </tr>
             {% endfor %}
         
         </tbody>
       </table> 
       

  

  <pre>
    {{ dump_user_data }}
  </pre>

{% endblock %}
